body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #00aeff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.img{
  width: 30rem;
  height: 33rem;
  position: relative;
}

.time{
  font-size: 5rem;
  position: absolute;
  top: 36%;
  left: 45%;
}

.buttons{
  margin: 2rem 0;
}

.go, .zerar{
  margin: 0 1rem;
  padding: 0.3em 2rem;
  border: 1px solid black;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  background: rgb(47, 47, 241);
}
